@charset "UTF-8";

body {
  color: #333;
  font-family: "Raleway", "Microsoft JhengHei", sans-serif;
}

a,
img,
li,
button,
nav ul.navbar-nav > li a,
.content-wrap .homeblock-wrap .list:focus,
.content-wrap .homeblock-wrap .list:hover,
.content-wrap .homeblock-wrap .list:active {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000;
  outline: none;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.navbar .navbar-header button:hover,
.navbar .navbar-header button:focus,
.navbar .navbar-header button:active,
.content-wrap .homeblock-wrap .list:focus,
.content-wrap .homeblock-wrap .list:hover,
.content-wrap .homeblock-wrap .list:active {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.navbar-inverse,
.back-to-top,
.btns .more {
  background-color: #9f0e3b;
  border-color: #772B21;
}

/**
 * header
 */
@media all and (min-width: 768px) and (max-width: 991px) {
  header .container {
    width: 100%;
  }

  header .linkbar.navbar-nav>li>a {
    padding-left: 6px;
    padding-right: 6px;
  }
}

/**
 * home banner block
 */
@media all and (max-width: 767px) {
  .banner-wrap img {
    margin-bottom: 20px;
  }
}

/**
 * navbar
 */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar .navbar-header h4 {
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 15.5px 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  border-left: 2px solid #772B21;
}

.navbar-inverse .navbar-nav>li:first-child>a {
  border-left: none;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li.active>a,
.navbar-inverse .navbar-nav>li.active>a:focus,
.navbar-inverse .navbar-nav>li.active>a:hover {
  color: #e3fb5d;
  background-color: #a14438;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #a14438;
  border-color: #9f0e3b;
}

.dropdown-menu {
  background-color: #9f0e3b;
}

.dropdown-menu>li>a {
  color: #fff;
  border-top: 2px solid #772B21;
}

.dropdown-menu>li:first-child>a {
  border-top: none;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #fff;
  background-color: #a14438;
}

@media all and (min-width: 992px) {
  .navbar .navbar-header h4 {
    display: none;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .navbar-header,
  nav .navbar-nav,
  nav .navbar-nav > li {
    float: none !important;
  }

  nav .navbar-toggle,
  nav .navbar-collapse.collapse.in {
    display: block !important;
  }

  nav .navbar-collapse {
    border-top: 1px solid transparent;
  }

  nav .navbar-collapse.collapse {
    display: none !important;
  }

  nav .navbar-nav {
    margin: 7px -15px;
  }

  nav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav .collapsing {
    overflow: hidden !important;
  }

  nav ul.navbar-nav>li>.dropdown-menu {
    position: relative;
    top: 0;
    z-index: 0;
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }

  nav ul.navbar-nav>li>.dropdown-menu>li>a {
    padding: 10px 30px;
  }
}

@media all and (max-width: 991px) {
  .navbar-inverse .navbar-nav>li>a {
    border-left: none;
    border-top: 2px solid #772B21;
  }

  .navbar-inverse .navbar-nav>li:first-child>a {
    border-top: none;
  }
}

@media all and (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
}

/**
 * slider
 */
.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
  margin: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  background-color: #fff;
  color: #777;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.owl-theme .owl-nav [class*='owl-'] i {
  margin-top: 12px;
}

.owl-theme .owl-nav .owl-prev {
  left: 30px;
}

.owl-theme .owl-nav .owl-next {
  right: 30px;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.owl-theme .owl-dots .owl-dot:first-child {
  margin-left: -10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #333;
}

.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/**
 * home banner block
 */
.banner-wrap {
  margin-top: 20px;
}

.banner-wrap img {
  width: 100%;
}

/**
 * home block
 */
.content-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-wrap .list-wrap {
  margin-bottom: 20px;
}

.content-wrap .list-wrap h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #648ab9;
}

.content-wrap .list-wrap h3>a {
  color: #333;
  font-size: 18px;
}

.content-wrap .list-wrap .list {
  padding: 10px 0;
  border-bottom: 1px solid #b5b5b5;
}

.content-wrap .list-wrap .list:focus,
.content-wrap .list-wrap .list:hover,
.content-wrap .list-wrap .list:active {
  text-decoration: none;
  background-color: #eee;
}

.content-wrap .list-wrap .list span.category {
  color: #fff;
  margin-right: 10px;
  background-color: #a32924;
}

.content-wrap .list-wrap .list a {
  display: block;
  color: #333;
  font-weight: 700;
}

.content-wrap .list-wrap h3>a:focus,
.content-wrap .list-wrap h3>a:hover,
.content-wrap .list-wrap h3>a:active,
.content-wrap .list-wrap .list:focus a,
.content-wrap .list-wrap .list:hover a,
.content-wrap .list-wrap .list:active a {
  color: #4670ba;
}

.content-wrap .homeside-img {
  padding: 15px 0;
}

/**
 * footer
 */
footer {
  color: #fff;
  padding-top: 33px;
  padding-bottom: 23px;
  background-color: #9f0e3b;
}

/**
 * sidebar page
 */
.sidebar-wrap h3 {
  color: #fff;
  margin: 0;
  padding: 20px 0 20px 15px;
  background-color: #9f0e3b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
}

.sidebar-wrap .list {
  border: 6px solid #f3eeda;
}

.sidebar-wrap .navbar-header img {
  width: 100%;
}

.sidebar-wrap ul.navbar-nav>li.dropdown>a>span.arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.sidebar-wrap ul.navbar-nav>li>a,
.sidebar-wrap ul.navbar-nav>li>.dropdown-menu>li>a {
  color: #4670ba;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #d7d7d7
}

.sidebar-wrap ul.navbar-nav>li:first-child>a,
.sidebar-wrap ul.navbar-nav>li>.dropdown-menu>li:first-child>a {
  border-top: none;
}

.sidebar-wrap ul.navbar-nav>li>.dropdown-menu {
  position: relative;
  top: 0;
  z-index: 0;
  float: none;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
}

.sidebar-wrap ul.navbar-nav>li>.dropdown-menu>li>a:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

.sidebar-wrap ul.navbar-nav>li>a:focus,
.sidebar-wrap ul.navbar-nav>li>a:hover,
.sidebar-wrap ul.navbar-nav>li>a:active,
.sidebar-wrap ul.navbar-nav>li>.dropdown-menu>li>a:focus,
.sidebar-wrap ul.navbar-nav>li>.dropdown-menu>li>a:hover,
.sidebar-wrap ul.navbar-nav>li>.dropdown-menu>li>a:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #9f0e3b;
}

.sidebar-wrap ul.navbar-nav>.open>a:hover {
  border-color: #772B21;
}

@media all and (min-width: 768px) {
  .sidebar-wrap>.navbar-header,
  .sidebar-wrap ul.navbar-nav,
  .sidebar-wrap ul.navbar-nav>li {
    float: none;
  }

  .sidebar-wrap>.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (max-width: 767px) {
  .sidebar-wrap>.navbar-collapse,
  .sidebar-wrap>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }

  .sidebar-wrap .navbar-toggle {
    top: 7px;
  }

  .sidebar-wrap .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .sidebar-wrap ul.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/**
 * content block
 */
.content-box h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-bottom: 1px solid #bcbcbc;
  border-top: 3px solid #9f0e3b;
}

.content-box h3 {
  margin-top: 24px;
  margin-bottom: 18px;
}

.content-box h3.title {
  padding: 15px 10px 15px 24px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #eeeeee;
}

.content-box h3.title:before {
  content: '';
  width: 6px;
  height: 26px;
  position: absolute;
  top: 15px;
  left: 9.5px;
  background: linear-gradient(-90deg, rgba(254, 1, 0, 1)50%, rgba(159, 14, 59, 1)50%);
  background: -moz-linear-gradient(-90deg, rgba(254, 1, 0, 1)50%, rgba(159, 14, 59, 1)50%);
  background: -webkit-linear-gradient(-90deg, rgba(254, 1, 0, 1)50%, rgba(159, 14, 59, 1)50%);
  background: -o-linear-gradient(-90deg, rgba(254, 1, 0, 1)50%, rgba(159, 14, 59, 1)50%);
}

.content-box h3.sub-title,
.content-box .content>.mix h4 {
  padding: 10px 10px 10px 0;
  border-bottom: 2px solid #dad4b2;
  background-color: #f3eeda;
}

.content-box h3.sub-title {
  padding-left: 24px;
}

.content-box .content {
  font-size: 16px;
}

.content-box .content p {
  margin-bottom: 16px;
  line-height: 26px;
}

.content-box .feature>h4 {
  color: #9f0e3b;
  font-weight: 700;
}

.content-box .feature>.item>h4 {
  margin-top: 0;
  padding: 10px 5px;
  font-weight: 700;
  background-color: #faf8ec;
}

.content-box .feature>.item>p {
  padding-left: 20px;
}

.content-box .content>.mix {
  margin-top: 20px;
}

.content-box .content>.mix h4 {
  padding-left: 10px;
  font-weight: 700;
}

.content-box .content>.mix .item>img {
  margin-bottom: 10px;
  border: 6px solid #f3f2ee;
}

.content-box #toolbar-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-box #toolbar-form .form-group {
  padding-right: 20px;
}

.content-box .linkbar {
  margin-top: 20px;
}

.content-box .linkbar>a {
  padding: 0 5px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
  border-right: 1px solid #333;
}

.content-box .self-wrap {
  border: 1px solid #d7d7d7;  
  border-left: 3px solid #9f0e3b;
  background-color: #fdfdfd;
}

.content-box .self-wrap .panel-body>.basic {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.content-box .self-wrap .panel-body>.basic img.headshot {
  border: 1px solid #333;
}

.content-box .self-wrap .panel-body>.basic>div>p:before {
  font-family: FontAwesome;
  content: "\f192";
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
}

.content-box .self-wrap .panel-body>.paper>div>p.marking:before {
  content: url(../images/page/icon/mark.png);
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
}

.content-box .self-wrap .panel-body>.paper>div>p.date {
  color: #7b7673;
}

.content-box .self-wrap .panel-body>.paper>div>p.thesis {
  font-weight: 700;
}



@media all and (max-width: 767px) {
  .content-box {
    margin-top: 20px;
  }

  .content-box h1 {
    font-size: 30px;
  }

  .content-box .self-wrap .panel-body>.basic img.headshot {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 450px) {
  .content-box h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 320px) {
  .content-box h1 {
    font-size: 28px;
  }
}

/**
 * back to top
 */
.back-to-top {
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  display:none;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.back-to-top:focus,
.back-to-top:hover {
  color: #fff;
}

/**
 * btn more
 */
.btns .more {
  color: #fff;
  padding: 10px 60px;
}